
@{
    ViewBag.Title = "Chúng tôi có";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsp = ViewBag.lsp;
    var aonam = ViewBag.aonam;
    var quannam = ViewBag.quannam;
    var phukiennam = ViewBag.phukiennam;
    var dolotnam = ViewBag.dolotnam;
    var vest = ViewBag.vest;
    var quanaothudong = ViewBag.quanaothudong;
}

@section Styles {
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

        * {
            font-family: 'Raleway', sans-serif;
            box-sizing: border-box;
            text-decoration: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        body {
            background: #f4f5f9;
        }

        .carousel {
            height: 70vh;
            margin-top: 1rem;
        }

        .carousel-item {
            height: 100%;
            width: 80%;
            margin-right: 1.3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            padding: 2rem 3rem;
            background: #1daadf;
        }

            .carousel-item img {
                width: 100%;
                height: auto;
            }

        .carousel-info {
            color: #fff;
            width: 60%;
            padding: 0rem 2.5rem;
        }

        .carousel-image {
            width: 60%;
        }

        /*    .carousel-item:first-child {
            background: #8995a5;
        }

        .carousel-item:nth-child(2) {
            background: #303133;
        }

        .carousel-item:nth-child(3) {
            background: #1daadf;
        }*/

        .carousel-info h1 {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 2.5rem;
        }

        .carousel-info p {
            line-height: 1.7rem;
            margin-bottom: 2.5rem;
            color: black;
        }

        .carousel-info a {
            background: #130b39;
            color: white;
            padding: 1rem 1.3rem;
            border-radius: 3px;
        }


        /* position outside*/

        .flickity-pre-next-button.previous {
            left: 210px;
        }

        .flickity-pre-next-button.next {
            left: 210px;
        }

        .popular {
            padding: 0rem 3.5rem;
            margin-bottom: 5rem;
        }

            .popular h1 {
                margin: 3rem 0rem;
            }

        .single-item {
            width: 20%;
            margin-right: 1rem;
            background: #fff;
            border-radius: 5px;
            color: #6a6b6d;
        }

            .single-item .img {
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .single-item .info {
                padding: 1rem;
            }

                .single-item .info h3 {
                    font-size: 1.55rem;
                }

                .single-item .info h3,
                .single-item .info p {
                    text-align: center;
                    margin-bottom: 1rem;
                }

        .item-flex {
            display: flex;
            justify-content: space-between;
        }

        .price {
            color: #3a3535;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Lato', sans-serif;
        }

        span.price del {
            color: #6b778d;
            font-weight: 400;
            margin-right: 6px;
            font-family: 'Lato', sans-serif;
            text-decoration: line-through;
        }

        @@media only screen and (max-width: 980px) {
            .carousel-item {
                display: block;
                width: 100%;
                height: auto;
            }

            .carousel {
                height: auto;
            }

            .carousel-info {
                width: 100%;
            }

            .carousel-image {
                display: none;
            }

            .single-item {
                width: 30%;
            }
        }

        @@media only screen and (max-width: 540px) {
            /* position outside*/
            .flickity-pre-next-button.previous {
                left: 40px;
            }

            .flickity-pre-next-button.next {
                left: 40px;
            }
        }

        .popular .flickity-page-dots {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
}


<div class="carousel" data-flickity='{ "wrapAround": true }'>
    @foreach (var item in lsp)
    {
        <div class="carousel-item">
            <div class="carousel-info">
                <h1>@item.TenLoai</h1>
                <p>@item.MieuTa</p>
                @{
                    var link = "#category" + item.Id;
                }
                <a href="@link">Xem ngay</a>
            </div>
            <div class="carousel-image">
                <img src="@item.LinkAnh" alt="">
            </div>
        </div>
    }
</div>

<div class="popular">
    <h1 id="category3">Áo nam</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in aonam)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var gia = String.Format(info, "{0:c3}", @item.Gia);
                            var giakm = String.Format(info, "{0:c3}", item.Gia * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <h1 id="category5">Quần nam</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in quannam)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var gia = String.Format(info, "{0:c3}", @item.Gia);
                            var giakm = String.Format(info, "{0:c3}", item.Gia * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <h1 id="category2">Phụ kiện nam</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in phukiennam)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var gia = String.Format(info, "{0:c3}", @item.Gia);
                            var giakm = String.Format(info, "{0:c3}", item.Gia * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <h1 id="category6">Đồ lót nam</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in dolotnam)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var gia = String.Format(info, "{0:c3}", @item.Gia);
                            var giakm = String.Format(info, "{0:c3}", item.Gia * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <h1 id="category1">Vest Suit</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in vest)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var a = item.Gia;
                            if (a == null)
                            {
                                a = 0;
                            }
                            var gia = String.Format(info, "{0:c3}", a);
                            var giakm = String.Format(info, "{0:c3}", a * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <h1 id="category7">Quần áo thu đông</h1>
    <div class="popular-carousel" data-flickity='{ "autoPlay": true, "preNextButtons": false, "wrapAround": true }'>
        @foreach (var item in quanaothudong)
        {
            <div class="single-item">
                <div class="img" style="background-image: url('@item.LinkAnh');">
                </div>
                <div class="info">
                    <h3>
                        @item.TenSP
                    </h3>
                    <p>
                        This is a descroption for the item
                    </p>
                    <div class="item-flex">
                        <div class="rating">
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                            <span class="ti-star"></span>
                        </div>
                        @{
                            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                            var gia = String.Format(info, "{0:c3}", @item.Gia);
                            var giakm = String.Format(info, "{0:c3}", item.Gia * 70 / 100);
                        }
                        <span class="price"><del>@gia</del>@giakm</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
}

