@model BiShop.Models.TinTuc
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Blog Details Hero Begin -->
<section class="blog-hero spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="blog__hero__text">
                    <h2>@Model.TieuDe</h2>
                    <ul>
                        <li>@Model.NguoiTao</li>
                        <li>@Html.DisplayFor(modelItem => Model.NgayTao)</li>
                        <li>
                            <i class="fas fa-eye"></i> @Html.DisplayFor(modelItem => Model.LuotXem)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <img src="@Model.LinkAnh" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__share">
                        <span>share</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!--Nội dung-->
                    @*<div class="blog__details__text">
                        </div>*@
                    <div class="blog__details__quote">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            @Html.Raw(Model.NoiDung)
                        </p>
                        <h6>_ @Model.NguoiTao _</h6>
                    </div>
                    <div class="blog__details__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="/assets/img/blog/details/blog-author.jpg" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h5>Lê Nam</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__tags">
                                    <a href="#">#Fashion</a>
                                    <a href="#">#Trending</a>
                                    <a href="#">#2020</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__btns">
                        @*<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item">
                                        <p><span class="arrow_left"></span> Tin trước</p>
                                        <h5>@Model.TieuDe</h5>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="" class="blog__details__btns__item blog__details__btns__item--next">
                                        <p>Tin sau <span class="arrow_right"></span></p>
                                        <h5>@Model.TieuDe</h5>
                                    </a>
                                </div>
                            </div>*@

                        @*</div>*@

                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Blog Details Section End -->
<div class="container">
    <h3>Có thể bạn muốn đọc!</h3>
</div>
<!-- Blog Section Begin -->
<section class="blog spad">
   
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.ListNew)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="@item.LinkAnh"></div>
                        <div class="blog__item__text">
                            <span><img src="~/assets/img/icon/calendar.png" alt=""> @item.NgayTao</span>
                            <h5>@item.TieuDe</h5>
                            <a href="@Url.Action("BlogDetail", "Blogs", new { id = item.Id })">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
