@model BiShop.Models.TinTuc

@{
    ViewBag.Title = "Chỉnh sửa tin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LinkAnh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LinkAnh, new { htmlAttributes = new { @class = "form-control", @id = "picture" } })
            <input type="file" id="fileUpload" accept="image/*" name="fileUpload" value="" style="display: none;" />
            <input type="button" class="btn btn-success" id="btnUpload" value="Chọn ảnh" />
            <br />
            <img id="pictureUpload" src="@Model.LinkAnh" width="200" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea id="summernote" class="form-control" name="NoiDung"></textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NguoiTao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.NguoiTao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NguoiTao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LoaiSP, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("LoaiSP", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaLoaiTin, "Loại tin", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("MaLoaiTin", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaLoaiTin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}


<div>
    <a title="Trở về" class="btn btn-warning" style="margin-top: 15px;" href="@Url.Action("Index", "TinTucs")"><i class="fas fa-backward"></i> Trở về</a>
</div>

@section scripts {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
}

@section upload {
    @Scripts.Render("~/Areas/assets/js/ImgUpload.js")
}


