@model PagedList.IPagedList<BiShop.ViewModel.SanPhamViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsp = ViewBag.lsp;
    var nccs = ViewBag.ncc;
}

<style>
    .page-item > a {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: black;
        background-color: #fff;
        border: 1px solid #dee2e6;
        text-decoration: none;
        border-radius: 45%;
    }

        .page-item > a:hover {
            border: 1px solid black;
        }

        .page-item > a:active {
            border: 1px solid black;
        }

    .pagination > .active a {
        border: 1px solid black;
    }

    .center {
        justify-content: center;
        margin-bottom: 15px;
        margin-top: -25px;
    }

    .page-item {
        padding: 0 5px;
    }


    .list {
        position: relative;
    }

        .list label {
            position: relative;
            display: block;
            margin: 20px 0;
            color: black;
            font-size: 1em;
            cursor: pointer;
        }

        .list input[type="checkbox"], input[type="radio"] {
            -webkit-appearance: none;
        }

        .list i {
            position: absolute;
            top: 2px;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid black;
        }

        .list input[type="checkbox"]:checked ~ i {
            top: 1px;
            border-top: none;
            border-right: none;
            height: 10px;
            width: 15px;
            transform: rotate(-45deg);
        }

        .list input[type="radio"]:checked ~ i {
            top: 1px;
            border-top: none;
            border-right: none;
            height: 10px;
            width: 15px;
            transform: rotate(-45deg);
        }

        .list span {
            position: relative;
            left: 40px;
            transform: 0.5s;
        }

            .list span::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background: black;
                transform: translateY(-50%) scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }

        .list input[type="checkbox"]:checked ~ span::before {
            transform: translateY(-50%) scaleX(1);
            transform-origin: left;
            transition: transform 0.5s;
            font-weight: bold;
        }

        .list input[type="radio"]:checked ~ span::before {
            transform: translateY(-50%) scaleX(1);
            transform-origin: left;
            transition: transform 0.5s;
            font-weight: bold;
        }
    .breadcrumb-option {
        background-image: url(https://pngimg.com/uploads/welcome/welcome_PNG81.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
</style>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="/Shop/Search" method="get">
                            <input class="btn blog__details__btns__item--next" id="txtKeyword" type="text" name="search" placeholder="Tìm...">
                            <button type="submit"></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__search footer__widget">
                        <button id="btnFilter" class="btn btn-outline-info" type="button"><i class="fas fa-filter"></i> Bạn muốn tìm kiếm</button>
                        
                        <ul class="list-group" id="lableFilter">
                            
                        </ul>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Danh mục</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="list">
                                            <label>
                                                <input type="radio" name="lsp" value="0">
                                                <i></i>
                                                <span>Tất cả</span>
                                            </label>
                                            @foreach (var l in lsp)
                                            {
                                                <label>
                                                    <input type="radio" name="lsp" value="@l.Id">
                                                    <i></i>
                                                    <span>@l.TenLoai</span>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Hãng</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                @foreach (var ncc in nccs)
                                                {
                                                    <li><a href="#">@ncc.TenNCC</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="list">
                                            <label>
                                                <input type="radio" name="price" value="0:100">
                                                <i></i>
                                                <span>0 &#8363; - 100.000 &#8363;</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="price" value="100:200">
                                                <i></i>
                                                <span>100.000 &#8363; - 200.000 &#8363;</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="price" value="200:300">
                                                <i></i>
                                                <span>200.000 &#8363; - 300.000 &#8363;</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="price" value="300:500">
                                                <i></i>
                                                <span>300.000 &#8363;- 500.000 &#8363;</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="price" value="500:1000">
                                                <i></i>
                                                <span>500.000 &#8363; - 1.000.000 &#8363;</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="price" value="1000:10000">
                                                <i></i>
                                                <span>1.000.000+ &#8363;</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            @foreach (var item in lsp)
                                            {
                                                <a href="@Url.Action("Index","Shop", new { id = item.Id })">#@item.TenLoai</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Hiển thị 1–12 trong @ViewBag.count kết quả</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sắp xếp theo giá:</p>
                                <select id="sort-price">
                                    <option value="1" selected>tăng dần</option>
                                    <option value="2">giảm dần</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="listSP" class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <input class="masp" style="display: none" value="@item.sanPham.MaSP" />
                                <div class="product__item__pic set-bg" data-setbg="@item.sanPham.LinkAnh">
                                    <ul class="product__hover">
                                        <li><a class="btn btn-outline-info" href="@Url.Action("AddItem","Cart", new { masp = item.sanPham.MaSP, soluong = 1 })"><i class="fas fa-cart-plus"></i> Mua ngay</a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@item.sanPham.TenSP</h6>
                                    <a href="@Url.Action("ShopDetail", "Shop", new { id = item.sanPham.MaSP })" class="add-cart">Xem thêm</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    @{
                                        var gia = string.Format("{0}.000", item.sanPham.Gia.ToString());
                                        var discount = string.Format("{0}.000", item.Discount.ToString());
                                    }
                                    <h5>@discount &#8363;</h5>
                                    <div class="product__color__select">
                                        <span>@gia &#8363;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model,
                page => Url.Action("Index", new { page }),
                new PagedListRenderOptions
                {
                    DisplayLinkToIndividualPages = true,
                    DisplayPageCountAndCurrentLocation = false,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    MaximumPageNumbersToDisplay = 3,
                    ContainerDivClasses = new string[] { "pagination", "center" },
                    UlElementClasses = new string[] { "pagination" },
                    LiElementClasses = new string[] { "page-item" },
                })
            </div>
            <div class="feed-footer-">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong @Model.PageCount
            </div>
        </div>
    </div>
</section>

<!-- Shop Section End -->
@section scripts {
    <script src="~/assets/js/jquery-ui.js"></script>
    <script>
        var common = {
            init: function () {
                common.registerEvent();
            },
            registerEvent: function () {
                $("#txtKeyword").autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                        $.ajax({
                            url: "/Shop/ListName",
                            dataType: "json",
                            data: {
                                term: request.term
                            },
                            success: function (res) {
                                response(res.data);
                            }
                        });
                    },
                    focus: function (event, ui) {
                        $("#txtKeyword").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#txtKeyword").val(ui.item.label);
                        return false;
                    }
                })
                    .autocomplete("instance")._renderItem = function (ul, item) {
                        return $("<li>")
                            .append("<div>" + item.label + "</div>")
                            .appendTo(ul);
                    };
            }
        }
        common.init();
    </script>
    <script>
        $('#sort-price').change(function () {
            var sort = $(this).find(':selected').val();
            window.location.href = "/Shop/Index?sort=" + sort;
        });
    </script>
    <script>
        $(".list input").click(function () {
            var gia = $("input[name='price']:checked").val();
            var lspStrdemo = $("input[name='lsp']:checked").val();          
            if (gia != null) {
                var gia1 = gia.split(':');
            }
            var lspStr;
            if (lspStrdemo == 0) {
                lspStr = 'Tất cả';
            } else if (lspStrdemo == 1) {
                lspStr = 'VEST SUIT';
            } else if (lspStrdemo == 2) {
                lspStr = 'Phụ kiện nam';
            } else if (lspStrdemo == 3) {
                lspStr = 'Áo nam';
            } else if (lspStrdemo == 4) {
                lspStr = 'Quần nam';
            } else if (lspStrdemo == 5) {
                lspStr = 'Đồ lót nam';
            } else if (lspStrdemo == 6) {
                lspStr = 'Quần áo thu đông';
            }

            if (gia != null && lspStr != null) {
                $('#lableFilter').html('<li><span>Giá từ ' + gia1[0] + ',000 &#8363;' + ' đến ' + gia1[1] + ',000 &#8363;' + '</span></li><li><span> Danh mục: ' + lspStr + '</span></li>');
            } else if (gia != null && lspStr == null) {
                $('#lableFilter').html('<li><span>Giá từ ' + gia1[0] + ' đến ' + gia1[1] + '</span></li>');
            } else if (gia == null && lspStr != null) {
                $('#lableFilter').html('<li><span>Danh mục: ' + lspStr + '</span></li>');
            } 
        });
            

        
        $(document).ready(function () {
            $("#btnFilter").click(function () {
                var gia = $("input[name='price']:checked").val();
                var lspStr = $("input[name='lsp']:checked").val();
                if (gia != null && lspStr != null) {
                    location.href = "/Shop/LocSanPham?lspStr=" + lspStr + "&gia=" + gia;
                } else if (gia != null && lspStr == null) {
                    window.location.href = '/Shop/LocSanPham?lspStr=0' + "&gia=" + gia;
                } else if (gia == null && lspStr != null) {
                    window.location.href = '/Shop/LocSanPham?lspStr=' + lspStr + "&gia=0";
                } else {
                    location.reload();
                }                
            });

        });
    </script>
}


