@model BiShop.Models.SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = ViewBag.category;
    var img = ViewBag.img;
}
<style>
    .product__details__tab .nav-tabs .nav-item .nav-link.active {
        color: black;
    }

    .product__details__cart__option .quantity .pro-qty {
        width: 100px;
        height: 40px;
        border: 1px solid #e5e5e5;
        position: relative;
    }

        .product__details__cart__option .quantity .pro-qty-new input {
            color: #0d0d0d;
            font-size: 15px;
            font-weight: 700;
            width: 70px;
            height: 100%;
            text-align: center;
            border: none;
        }

        .product__details__cart__option .quantity .pro-qty-new .qtybtn {
            font-size: 18px;
            color: #0d0d0d;
            right: 15px;
            top: 3px;
            height: 10px;
            cursor: pointer;
            font-weight: 600;
        }

            .product__details__cart__option .quantity .pro-qty-new .qtybtn.inc {
                top: 16px;
            }

    .quantity button:hover {
        box-shadow: 5px 10px brown;
    }

</style>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <input style="display: none" id="masp" value="@Model.MaSP" />
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.LinkAnh">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="/assets/img/shop-details/thumb-2.png">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="/assets/img/shop-details/thumb-3.png">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="/assets/img/shop-details/thumb-4.png">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@Model.LinkAnh" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/assets/img/shop-details/product-big-3.png" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/assets/img/shop-details/product-big.png" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/assets/img/shop-details/product-big-4.png" alt="">
                                <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.TenSP</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        @{
                            var giakm = string.Format("{0}.000", (Convert.ToInt32(Model.Gia*0.7)).ToString());
                            var gia = string.Format("{0}.000", Model.Gia.ToString());

                        }
                        <h3>@giakm&#8363;<span>@gia&#8363;</span></h3>
                        <p>
                            Đây là tiêu đề
                        </p>
                        <div class="product__details__option">
                            <div class="product__details__option__size">
                                <span>Size:</span>
                                <label for="xxl">
                                    xxl
                                    <input type="radio" id="xxl">
                                </label>
                                <label class="active" for="xl">
                                    xl
                                    <input type="radio" id="xl">
                                </label>
                                <label for="l">
                                    l
                                    <input type="radio" id="l">
                                </label>
                                <label for="sm">
                                    s
                                    <input type="radio" id="sm">
                                </label>
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                <div class="pro-qty-new">
                                    <input id="number" type="text" value="1" min="1">
                                </div>
                            </div>
                            <button id="btnAddItem" class="primary-btn">Thêm vào giỏ hàng</button>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Đảm bảo thanh toán an toàn</span></h5>
                            <img src="/assets/img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>Mã:</span> @Model.MaSP</li>
                                <li><span>Loại:</span> @Model.LoaiSanPham.TenLoai</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                    Khách hàng reviews
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
                                    Thông tin thêm
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p class="note">
                                        Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                        solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                        ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.
                                    </p>
                                    <div class="product__details__tab__content__item">
                                        <h5>Chất liệu</h5>
                                        <p>
                                            @Model.ChatLieu
                                        </p>
                                    </div>
                                    <div class="product__details__tab__content__item">
                                        <h5>Kiểu dáng</h5>
                                        <p>
                                            @Model.KieuDang
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="tab-pane fade show active p-3" id="custom-home" role="tabpanel" aria-labelledby="nav-home">

                                    <!--Single feed-->
                                    <div class="feed-single mb-3">
                                        <div class="media">
                                            <img class="mr-3 rounded-circle" height="40px" width="40px" src="~/Areas/assets/img/John-doe.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h6 class="mt-1">
                                                    Jay Shetty
                                                    <small class="text-muted pl-3"><i class="fa fa-clock"></i> 2 weeks</small>

                                                    <p class="clearfix"></p>
                                                </h6>

                                                <p>Màu sắc phong phú, đẹp mắt. Tôi rất thích.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Single feed-->
                                    <!--Single feed-->
                                    <div class="feed-single mb-3">
                                        <div class="media">
                                            <img class="mr-3 rounded-circle" height="40px" width="40px" src="~/Areas/assets/img/John-doe.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h6 class="mt-1">
                                                    Jay Shetty
                                                    <small class="text-muted pl-3"><i class="fa fa-clock"></i> 2 weeks</small>

                                                    <p class="clearfix"></p>
                                                </h6>

                                                <p>Sản phẩm rất tốt.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Single feed-->
                                    <!--Single feed-->
                                    <div class="feed-single mb-3">
                                        <div class="media">
                                            <img class="mr-3 rounded-circle" height="40px" width="40px" src="~/Areas/assets/img/John-doe.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h6 class="mt-1">
                                                    @(User.Identity.IsAuthenticated ? Session["Name"] : "Guest")
                                                    <p class="clearfix"></p>
                                                </h6>

                                                <div class="form-floating">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" placeholder="Comment..." name="comment" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button type="submit" class="btn btn-danger">Comment</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Single feed-->
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p class="note">
                                        Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                        solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                        ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                        pharetras loremos.
                                    </p>
                                    <div class="product__details__tab__content__item">
                                        <h5>Products Infomation</h5>
                                        <p>
                                            A Pocket PC is a handheld computer, which features many of the same
                                            capabilities as a modern PC. These handy little devices allow
                                            individuals to retrieve and store e-mail messages, create a contact
                                            file, coordinate appointments, surf the internet, exchange text messages
                                            and more. Every product that is labeled as a Pocket PC must be
                                            accompanied with specific software to operate the unit and must feature
                                            a touchscreen and touchpad.
                                        </p>
                                        <p>
                                            As is the case with any new technology product, the cost of a Pocket PC
                                            was substantial during it’s early release. For approximately $700.00,
                                            consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                            These days, customers are finding that prices have become much more
                                            reasonable now that the newness is wearing off. For approximately
                                            $350.00, a new Pocket PC can now be purchased.
                                        </p>
                                    </div>
                                    <div class="product__details__tab__content__item">
                                        <h5>Material used</h5>
                                        <p>
                                            Polyester is deemed lower quality due to its none natural quality’s. Made
                                            from synthetic materials, not natural like wool. Polyester suits become
                                            creased easily and are known for not being breathable. Polyester suits
                                            tend to have a shine to them compared to wool and cotton suits, this can
                                            make the suit look cheap. The texture of velvet is luxurious and
                                            breathable. Velvet is a great choice for dinner party jacket and can be
                                            worn all year round.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Sản phẩm liên quan</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/assets/img/product/product-1.jpg">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img src="/assets/img/icon/heart.png" alt=""></a></li>
                            <li><a href="#"><img src="/assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img src="/assets/img/icon/search.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <a href="#" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Section End -->
@section scripts {
    <script>
        $('#btnAddItem').off('click').on('click', function () {
                var msp = $('#masp').val();
                var sl = $('#number').val();
                window.location.href = '/Cart/AddItem/' + msp + '/' + sl;
        });

        var proQty = $('.pro-qty-new');
        proQty.prepend('<span class="fas fa-plus inc qtybtn"></span>');
        proQty.append('<span class="fa fa-minus dec qtybtn"></span>');
        proQty.on('click', '.qtybtn', function () {
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            if ($button.hasClass('inc')) {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.parent().find('input').val(newVal);
        });
    </script>
    }

