@model BiShop.ViewModel.SanPhamViewModel

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = ViewBag.category;
    var img = ViewBag.img;
    var spcungloais = ViewBag.spCungLoai;
}
<style>
    .product__details__tab .nav-tabs .nav-item .nav-link.active {
        color: black;
    }

    .product__details__cart__option .quantity .pro-qty {
        width: 100px;
        height: 40px;
        border: 1px solid #e5e5e5;
        position: relative;
    }

        .product__details__cart__option .quantity .pro-qty-new input {
            color: #0d0d0d;
            font-size: 15px;
            font-weight: 700;
            width: 70px;
            height: 100%;
            text-align: center;
            border: none;
        }

        .product__details__cart__option .quantity .pro-qty-new .qtybtn {
            font-size: 18px;
            color: #0d0d0d;
            right: 15px;
            top: 3px;
            height: 10px;
            cursor: pointer;
            font-weight: 600;
        }

            .product__details__cart__option .quantity .pro-qty-new .qtybtn.inc {
                top: 16px;
            }

    .quantity button:hover {
        box-shadow: 3px 3px brown;
    }

</style>

<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <input style="display: none" id="masp" value="@Model.sanPham.MaSP" />
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.sanPham.LinkAnh">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@ViewBag.img1">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@ViewBag.img2">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@ViewBag.img3">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@Model.sanPham.LinkAnh" alt="" width="555">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@ViewBag.img1" alt="" width="555">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@ViewBag.img2" alt="" width="555">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@ViewBag.img3" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.sanPham.TenSP</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span> - 5 Reviews</span>
                        </div>
                        @{
                            var giakm = string.Format("{0}.000", (Model.Discount).ToString());
                            var gia = string.Format("{0}.000", Model.sanPham.Gia.ToString());

                        }
                        <h3>@giakm&#8363;<span>@gia&#8363;</span></h3>
                        <p>
                            @ViewBag.category
                        </p>
                        <div class="product__details__option">
                            <div class="product__details__option__size">
                                <span>Size:</span>
                                <label for="xxl">
                                    xxl
                                    <input type="radio" name="size" value="xxl" id="xxl">
                                </label>
                                <label class="active" for="xl">
                                    xl
                                    <input type="radio" name="size" value="xl" id="xl">
                                </label>
                                <label for="l">
                                    l
                                    <input type="radio" name="size" value="l" id="l">
                                </label>
                                <label for="s">
                                    s
                                    <input type="radio" name="size" value="s" id="s">
                                </label>
                                <input type="hidden" id="txtSize" />
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <div class="text-center">
                                <button id="minusSoLuong" class="btn btn-dark"><i class="fas fa-minus"></i></button>
                                <input  class="btn btn-outline-dark" id="number" value="1" type="text">
                                <button id="plusSoLuong" class="btn btn-dark"><i class="fas fa-plus"></i></button>
                            </div>
                            <br />
                            <button id="btnAddItem" class="primary-btn">Thêm vào giỏ hàng</button>
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Đảm bảo thanh toán an toàn</span></h5>
                            <img src="/assets/img/shop-details/details-payment.png" alt="">
                            <ul>
                                <li><span>Mã:</span> @Model.sanPham.MaSP</li>
                                <li><span>Loại:</span> @Model.sanPham.LoaiSanPham.TenLoai</li>
                                <li><span>Còn lại:</span> @Model.sanPham.SoLuong sản phẩm</li>
                            </ul>
                            <input id="slCon" type="hidden" value="@Model.sanPham.SoLuong" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                    Khách hàng reviews
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
                                    Thông tin thêm
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p class="note">
                                        @Html.Raw(Model.sanPham.ChatLieu)
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="tab-pane fade show active p-3" role="tabpanel" aria-labelledby="nav-home">
                                    <div id="custom-home" >
                                        <!--Single feed-->
                                        @foreach (var item in ViewBag.review)
                                        {
                                            <div class="feed-single mb-3">
                                                <div class="media">
                                                    <img class="mr-3 rounded-circle" height="40" width="40" src="@item.PhoToCustomer" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h6 class="mt-1">
                                                            @item.TenCustomer
                                                            <small class="text-muted pl-3"><i class="fa fa-clock"></i> @item.ThoiGian</small>

                                                            <p class="clearfix"></p>
                                                        </h6>

                                                        <p>@item.NoiDung</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!--/Single feed-->
                                    </div>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <!--Single feed-->
                                        <div class="feed-single mb-3">
                                            <div class="media">
                                                <img class="mr-3 rounded-circle" height="40" width="40" src="@Session["Photo"]" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h6 class="mt-1">
                                                        @(User.Identity.IsAuthenticated ? Session["Name"] : "Guest")
                                                        <p class="clearfix"></p>
                                                    </h6>

                                                    <div class="form-floating">
                                                        <form id="commentForm">
                                                            <div class="row">
                                                                <input style="display: none;" name="masp" value="@Model.sanPham.MaSP" />
                                                                <input style="display: none;" name="makh" value="@Session["Id"]" />
                                                                <div class="col-md-4">
                                                                    <input id="comment" type="text" class="form-control" placeholder="Comment..." name="comment" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button id="btnComment" type="button" class="btn btn-danger">Comment</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/Single feed-->
                                    }
                                    else
                                    {
                                        <div class="justify-content-center">Vui lòng <a class="btn btn-outline-primary" href="/Home/Login">Đăng nhập</a> để review</div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p class="note">
                                        @Html.Raw(Model.sanPham.KieuDang)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Sản phẩm liên quan</h3>
            </div>
        </div>
        <div class="row">
                @foreach (var spcungloai in spcungloais)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <input class="masp" style="display: none" value="@spcungloai.sanPham.MaSP" />
                            <div class="product__item__pic set-bg" data-setbg="@spcungloai.sanPham.LinkAnh">
                                <ul class="product__hover">
                                    <li><a class="btn btn-outline-info" href="@Url.Action("AddItem","Cart", new { masp = spcungloai.sanPham.MaSP, soluong = 1 })"><i class="fas fa-cart-plus"></i> Mua ngay</a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>@spcungloai.sanPham.TenSP</h6>
                                <a href="@Url.Action("ShopDetail", "Shop", new { id = spcungloai.sanPham.MaSP })" class="add-cart">Xem thêm</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                @{
                                    var gia2 = string.Format("{0}.000", spcungloai.sanPham.Gia.ToString());
                                    var discount2 = string.Format("{0}.000", spcungloai.Discount.ToString());
                                }
                                <h5>@discount2 &#8363;</h5>
                                <div class="product__color__select">
                                    <span>@gia2 &#8363;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</section>
<!-- Related Section End -->
@section scripts {
    <script>
        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='size']:checked").val();
                if (radioValue) {
                    $('#txtSize').val(radioValue);
                }
            });
        });
    </script>
    <script>
        var slCon = parseInt($('#slCon').val());
        $('#minusSoLuong').click(function () {
            var sl = parseInt($('#number').val());
            if (sl > 1) {
                $('#number').val(sl - 1);
            }
        });

        $('#plusSoLuong').click(function () {
            var sl = parseInt($('#number').val());
            if (sl < slCon) {
                $('#number').val(sl + 1);
            }
        });
        
        $('#btnAddItem').off('click').on('click', function () {
            var msp = $('#masp').val();
            var sl = parseInt($('#number').val());
            if (slCon >= sl) {
                window.location.href = '/Cart/AddItem/' + msp + '/' + sl;
            } else if (slCon < sl) {
                alert("Sản phẩm không đủ số lượng bạn đặt" + slCon + ' - ' + sl);
            } else {
                window.location.href = '/Cart/AddItem/' + msp + '/' + sl;
            }
        });
    </script>
    <script>
        $('#btnComment').click(function () {
            $.ajax({
                url: "/Shop/Comment",
                type: "post",
                data: $('#commentForm').serialize(),              
            }).done(function (res) {
                if (res.Success)
                {
                    $('#comment').val("");
                    $('#custom-home').load(location.href + ' #custom-home'); 
                } else {
                    alert("false")
                }
            }).fail(function () {
                alert("error!")
            });
        });
    </script>
    }

