@model BiShop.Models.LoaiSanPham

@{
    ViewBag.Title = "Xóa loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MieuTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MieuTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkAnh)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.LinkAnh)" alt="@Html.DisplayFor(model => model.TenLoai)" width="200" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </div>
    }
</div>

<div>
    <a title="Trở về" class="btn btn-warning" style="margin-top: 15px;" href="@Url.Action("Index", "LoaiSanPhams")"><i class="fas fa-backward"></i> Trở về</a>
</div>
