@model IEnumerable<BiShop.Models.LoaiSanPham>

@{
    ViewBag.Title = "Danh sách loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<a title="Thêm mới" class="btn btn-info" style="margin-top: 15px;" href="@Url.Action("Create", "LoaiSanPhams")"><i class="fas fa-plus-circle"></i> Thêm loại sản phẩm</a>

<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenLoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MieuTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.XuatXu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LinkAnh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KhuyenMai.NoiDungKM)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MieuTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XuatXu)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.LinkAnh)" alt="@Html.DisplayFor(modelItem => item.TenLoai)" width="200" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhuyenMai.NoiDungKM)
                    </td>
                    <td>
                        <div style="display: flex;">
                            <a title="Chỉnh sửa" class="btn btn-success" href="@Url.Action("Edit", "LoaiSanPhams", new { id = item.Id })"><i class="fas fa-edit"></i></a>&nbsp;
                            <a title="Xóa" class="btn btn-danger" href="@Url.Action("Delete", "LoaiSanPhams", new { id = item.Id })"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </div>

    @section scripts {
        <script>
            $('#example').DataTable();
        </script>
    }
