
<h5 class="mb-3"><strong>Thống kê ngày</strong></h5>

<!--Dashboard widget-->
<div class="mt-1 mb-3 button-container">
    <div class="row pl-0">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="bg-white border shadow">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <div class="media-body pl-2">                       
                        <h3 class="mt-0 mb-0"><strong>@ViewBag.TongDoanhThuTrongNgay</strong></h3>
                        <p><small class="text-muted bc-description">Tổng doanh thu</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="bg-white border shadow">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-danger">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0"><strong>@ViewBag.KhachHangMoiTrongNgay</strong></h3>
                        <p><small class="text-muted bc-description">Khách hàng mới</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
            <div class="bg-theme border shadow">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fa fa-tags text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0"><strong>@ViewBag.SanPhamXuatTrongNgay</strong></h3>
                        <p><small class="bc-description text-white">Sản phẩm xuất thành công</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Dashboard widget-->

<div class="row mt-3">
    <div class="col-sm-6">
        <!--Jvector world map-->
        <div class="mt-1 mb-3 p-3 button-container bg-white shadow-sm border">
            <h6 class="mb-3">Biểu đồ doanh thu so với chi phí trong tuần</h6><hr>
            <div class="ct-chart" id="lineChartChartist" style="height: 350px;"></div>
        </div>
        <!--/Jvector world map-->

    </div>


    <div class="col-sm-6">
        <!--Revenue Graph-->
        <div class="mt-1 mb-3 button-container bg-white border shadow-sm p-3">
            <h6 class="mb-3">Biểu đồ doanh thu so với chi phí trong năm</h6><hr>

            <div class="ct-chart" id="costRevenue" style="height: 350px;"></div>

        </div>
        <!--/Revenue Graph-->
    </div>
</div>

<!--Chart Section-->
<div class="mt-1 mb-3 p-3 button-container bg-white shadow-sm border">
    <h6>Phân tích tổng quan trong năm 2021 và biểu đồ doanh thu qua các năm</h6><hr>
    <div class="row mb-3">
        <div class="col-sm-4 ol-12">
            <h1 class="text-success">@ViewBag.KhachHangMoiTrongNam</h1>
            <h5>Khách hàng mới</h5>
        </div>
        <div class="col-sm-4 ol-12 text-center">
            <h1 class="text-theme">@ViewBag.SanPhamXuatTrongNam</h1>
            <h5>Đơn hàng đi</h5>
        </div>
        <div class="col-sm-4 ol-12 text-right">
            <h1 class="text-danger">@ViewBag.TongDoanhThuTrongNam</h1>
            <h5>Doanh thu</h5>
        </div>
    </div>

    <canvas id="orderRevenue" class="orderRevenue pt-1" height="100px"></canvas>
</div>
<!--Chart Section-->

@section chart {
    <script>
        if ($("#orderRevenue").length) {
            var ctx = document.getElementById("orderRevenue");
            var DonHangDi = @Html.Raw(ViewBag.SanPhamXuatQuaCacNam);
            var KhachHangMoi = @Html.Raw(ViewBag.KhachHangMoiQuaCacNam);
            var DoanhThu = @Html.Raw(ViewBag.DoanhThuQuaCacNam);
            var revChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["2014", "2015", "2016", "2017", "2018", "2019", "2020"],
                    datasets: [
                        {
                            label: "Khách hàng mới",
                            borderColor: "rgb(59, 224, 40)",
                            borderWidth: "3",
                            backgroundColor: "rgb(59, 224, 40, 0.8)",
                            data: KhachHangMoi,
                        },
                        {
                            label: "Đơn hàng đi",
                            borderColor: "rgb(30, 44, 199)",
                            borderWidth: "3",
                            backgroundColor: "rgba(30, 44, 199, 0.8)",
                            data: DonHangDi,
                        },
                        {
                            label: "Doanh thu",
                            borderColor: "rgb(245, 81, 66)",
                            borderWidth: "3",
                            backgroundColor: "rgba(245, 81, 66, 0.8)",
                            data: DoanhThu,
                        }
                    ]
                },
                options: {
                    responsive: true,
                    tooltips: {

                    },
                    legend: {
                        display: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }

                }
            });
        }
    </script>
    <script>
        var doanhThu7Ngay = @Html.Raw(ViewBag.DoanhThu7Ngay);
        var ChiPhi7Ngay = @Html.Raw(ViewBag.ChiPhi7Ngay);
        var Trong7Ngay = @Html.Raw(ViewBag.Trong7Ngay);
        if ($("#lineChartChartist").length) {
            new Chartist.Line('.ct-chart', {
                labels: Trong7Ngay,
                series: [
                    {
                        labels: 'Working week days',
                        data: doanhThu7Ngay,
                    },
                    {
                        labels: 'Working week days',
                        data: ChiPhi7Ngay,
                    },
                ]
            }, {
                fullWidth: true,
                chartPadding: {
                    right: 40
                }
            });
        }
    </script>
    <script>
        //Dashboard revenue vs cost
        var DoanhThu12Thang = @Html.Raw(ViewBag.DoanhThu12Thang);
        var ChiPhi12Thang = @Html.Raw(ViewBag.ChiPhi12Thang);
        if ($("#costRevenue").length) {
            var data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                series: [
                    DoanhThu12Thang,
                    ChiPhi12Thang
                ]
            };

            var options = {
                seriesBarDistance: 10
            };

            var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function (value) {
                            return value[0];
                        }
                    }
                }]
            ];

            new Chartist.Bar('#costRevenue', data, options, responsiveOptions);
        }
    </script>

}




