@model List<BiShop.Models.Cart>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .shopping__cart__table table tbody tr td.cart__close i:hover {
        background: red;
    }

    .continue__btn a:hover {
        background-color: aqua;
        color: black;
    }

    .cart__total a:hover {
        box-shadow: 5px 10px #888888;
    }
</style>

@if (Model.Count > 0)
{
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="@item.SanPhamViewModel.sanPham.LinkAnh" width="100" alt="@item.SanPhamViewModel.sanPham.TenSP">
                                            </div>
                                            @{
                                                var gia = string.Format("{0}.000", item.SanPhamViewModel.Discount.ToString());
                                                var tong = string.Format("{0}.000", item.TongTien.ToString());
                                            }
                                            <div class="product__cart__item__text">
                                                <h6>@item.SanPhamViewModel.sanPham.TenSP</h6>
                                                <h5>Giá: @gia &#8363;</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input type="text" class="soluong" data-id="@item.SanPhamViewModel.sanPham.MaSP" value="@item.SoLuong">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">@tong &#8363;</td>
                                        <td class="cart__close"><button id="btn-delete" data-id="@item.SanPhamViewModel.sanPham.MaSP" title="Delete" class="btn"><i class="fa fa-close"></i></button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="@Url.Action("Index", "Shop")">Tiếp tục mua hàng</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <button type="button" id="updateCart" class="btn btn-primary">Cập nhật giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Tổng</h6>
                        <ul>
                            <li>Tổng <span>@ViewBag.total</span></li>
                            <li>Phí ship <span>0</span></li>
                        </ul>
                        <a href="/Cart/ThanhToan" class="primary-btn">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
}
else
{
    <div class="container text-center p-4">
        <p style="color: red; font-size: large;">Không có sản phẩm nào trong giỏ hàng</p>
        <div class="continue__btn">
            <a href="@Url.Action("Index", "Shop")">Tiếp tục mua hàng</a>
        </div>
    </div>
}



@section scripts {
    <script>


        $('#btnThanhToan').off('click').on('click', function () {
            window.location.href = '/Cart/ThanhToan';
        });

        //cap nhat
        $('#updateCart').click(function () {
            var listsp = $('.soluong');
            var cartList = [];


            $.each(listsp, function (i, item) {
                cartList.push({
                    SoLuong: $(item).val(),
                    SanPhamViewModel: {
                        sanPham: {
                            MaSP: $(item).data('id')
                        }
                    }
                });
            });

            $.ajax({
                url: '/Cart/UpDate',
                data: { cartModel: JSON.stringify(cartList) },
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    if (data.Status == true) {
                        window.location.href = "/Cart";
                    }
                }
            })
        });

        //xoa
        $('#btn-delete').click(function () {
            $.ajax({
                data: {
                    masp: $(this).data('id')
                },
                url: '/Cart/Delete',
                dataType: 'json',
                type: 'POST',
                success: function (data) {
                    if (data.Status == true) {
                        window.location.href = "/Cart";
                    }
                }
            })
        });

    </script>
    <!--Toastr-->
    <script src="~/assets/Toastr/toastr.js"></script>
    <link href="~/assets/Toastr/toastrCss.css" rel="stylesheet" />
    @if (TempData["ThanhToan"] != null)
    {
        <script type="text/javascript">
            toastr.options =
            {
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 100,
                "timeOut": 3000,
                "extendedTimeOut": 1000
            }
            toastr.success("Thanh toán thành công", "Thông báo");
        </script>
    }
}
