@model BiShop.Models.DonHang

@{
    ViewBag.Title = "Xóa đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiShip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiShip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
