@model IEnumerable<BiShop.Models.DonHang>
@{
    ViewBag.Title = "Lịch sử thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <div class="container">
        <div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">
            <h5>Bạn chưa có đơn hàng nào <i class="fas fa-exclamation"></i></h5>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">
            <!--Order Listing-->
            <div class="product-list">

                <div class="row border-bottom mb-4">
                    <div class="col-sm-8 pt-2"><h6 class="mb-4 bc-header">Danh sách đơn hàng của bạn</h6></div>
                    <div class="col-sm-4 text-right pb-3">

                        <div class="pull-right mr-3 btn-order-bulk">
                            <select class="shadow bg-secondary bulk-actions">
                                <option value="0" data-display="<span class='text-white'><b>Tất cả đơn hàng</b></span>">Tất cả đơn hàng</option>
                                <option value="1">Đơn mới</option>
                                <option value="2">Đơn hủy</option>
                                <option value="3">Đơn đang giao</option>
                                <option value="4">Đơn hoàn thành</option>
                            </select>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="table-responsive product-list">
                    <table class="table table-bordered table-striped mt-0" id="productList">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TrangThai)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.NgayDH)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiaChiShip)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ship.ShipName)
                                </th>
                                <th>Hoạt động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                @helper WelcomeMessage(string trangthai)
                                {
                                    if (trangthai == "Đơn mới")
                                    {
                                        <td class="align-middle"><span class="badge badge-warning">@trangthai</span></td>
                                    }
                                    if (trangthai.Equals("Đơn hủy"))
                                    {
                                        <td class="align-middle"><span class="badge badge-danger">@trangthai</span></td>
                                    }
                                    if (trangthai.Equals("Đơn hoàn thành"))
                                    {
                                        <td class="align-middle"><span class="badge badge-success">@trangthai</span></td>
                                    }
                                    if (trangthai.Equals("Đơn đang giao"))
                                    {
                                        <td class="align-middle"><span class="badge badge-info">@trangthai</span></td>
                                    }
                                }
                                @{
                                    var trangthai = item.TrangThai;
                                }
                                @WelcomeMessage(trangthai)
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.NgayDH)</td>
                                <td>@Html.DisplayFor(modelItem => item.DiaChiShip)</td>
                                <td>@Html.DisplayFor(modelItem => item.Ship.ShipName)</td>
                                <td>
                                    <div style="display: flex;">
                                        <a title="Chi tiết đơn hàng" class="btn btn-primary" href="@Url.Action("ChiTietDH", "Home", new { id = item.MaDH })"><i class="fa fa-info-circle"></i></a>&nbsp;
                                        <a title="Xem hóa đơn" class="btn btn-primary" href="@Url.Action("XemHoaDon", "Home", new { id = item.MaDH })"><i class="fas fa-eye"></i></a>&nbsp;

                                        @if (trangthai.Equals("Đơn hoàn thành") || trangthai.Equals("Đơn hủy"))
                                        {
                                            <div></div>
                                        }
                                        else
                                        {
                                            <a title="Hủy" class="btn btn-danger" href="@Url.Action("Cancel", "Home", new { id = item.MaDH })">Hủy</a>

                                        }

                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

